textarea {
    min-height: 400px;
}


ul#inboxEmails {

    display: flex;
    flex-direction: row;
    list-style: none;

}

ul#sentEmails {

    display: flex;
    flex-direction: row;
    list-style: none;

}

ul#archiveEmails {

    display: flex;
    flex-direction: row;
    list-style: none;

}