<!DOCTYPE html>
<html lang="en">
<title>Website Title</title>
<style type="text/css">
    #container {
        height: 100%;
        width: 100%;
        display: flex;
    }

    #left,
    #middle,
    #right {
        display: inline;
        vertical-align: top;
    }

    #left {
        width: 25%;
    }

    #middle {
        width: 50%;
    }

    #right {
        width: 25%;
    }
</style>
</head>

<body>
    <div>
        <div id="container"><p id="left">Left</p><p id="middle">Middle</p><p id="right">Right</p></div>

    </div>
</body>

</html>